body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=732&q=80") repeat center fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.user-image{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user-profile-image{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.post-profile-image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.post-comment-profile-image{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.comment-div{
  background-color: rgb(219, 218, 218);
}

.react-icons:hover{
  color: #ed9472;
  transform: scale(1.1);
}

.newusercard {
  transition: transform 0.2s ease;
  background-color: rgb(241, 241, 241);
}

.newusercard:hover {
  transform: scale(1.1);
}

.post-card{
  padding-left: 10px;
  padding-right: 10px;
  background-color: #cccccca9;
  border-radius: 20px;
  border: 1px solid #929191;
}

.create-card{
  background-color: #cccccca9;
  border-radius: 20px;
  border: 1px solid #929191;
}

.tab-profile{
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #929191;
  background-color: #cccccca9;
}

.input-width-register {
  width: 400px;
}

.input-width-login {
  width: 370px;
}